# ignore check_mk symlink directories
version
share
lib
include
bin
!local/share/

# ignore check_mk working dirs 
var
tmp
etc

# ignore other files 
.bash_history
.bashrc
.j4p
.modulebuildrc
.pip/
.vim/
.profile
.viminfo
.gitconfig
